<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <div class="flex justify-between items-center">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Editar Usuário</h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Edite as informações do usuário <%= @user.name %>.
        </p>
      </div>
      <% if @user != current_user %>
        <%= button_to regenerate_password_user_path(@user),
            class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500",
            data: { turbo_confirm: "Tem certeza que deseja gerar uma nova senha temporária para este usuário?" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
          </svg>
          Re-Gerar Senha
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% if flash[:passwords].present? %>
  <div class="mt-4 bg-yellow-50 border-l-4 border-yellow-400 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-yellow-800">
          Senhas Temporárias
        </h3>
        <div class="mt-2 text-sm text-yellow-700">
          <p>Anote as senhas temporárias dos usuários criados:</p>
          <pre class="mt-2 text-xs font-mono bg-yellow-100 p-2 rounded"><%= flash[:passwords].join("\n") %></pre>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="mt-6">
  <%= render "form" %>
</div>